body{
	font-family: sans-serif;
	background-color: black;
	color: white;
}
p{ 
	text-align: center;
	font-size: 200%;
	margin: 5%;
}

h1{
	text-align: center;
	font-size: 600%;
	color: forestgreen;
}
.gallery{
	margin: auto;
	text-align: center;
}
.gallery img{
	margin:.5%;
	width: 45%;
}
button{
	background-color: red;
	color: white;
	padding: 2%;
}
.exit{
	margin-top: 5%;
	text-align: center;
	font-size: 200%;
}